# The name of the application (required for some APIs)
APP_NAME=simple-mcp-client

# To use OpenAI, you require an API key 
OPENAI_API_KEY=
# To use Google AI, you require an API key or GCP project. Specify either one here.
GOOGLE_AI_KEY=
# To use AWS Bedrock, you require a profile with credentials
AWS_PROFILE=

# The provider to use (allowed values are 'openai', 'google' or 'aws')
PROVIDER=openai

# Enable for streaming responses from supported models (usually faster reaction)
STREAMING=false
# Enable to output reasoning messages (if supported by model)
TYPE_REASONING=false
